<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

      <div class="blog content">
         <h1>About me! </h1>

      </div>
      <%- include('./partials/footer.ejs') %>

    
</body>
</html>